{% extends 'templates/common/base.html' %}

{% block content %}
    <!-- Starts Edit Profile Section -->
    <div class="edit-delete edit-profile">
        <h2>Edit Profile</h2>

        <!-- Starts Edit Profile Form -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}  <!-- Render the form fields here -->

            <!-- Edit Profile Button -->
            <button class="edit-btn" type="submit">Edit Profile</button>
        </form>
        <!-- End Edit Profile Form -->

    </div>
    <!-- End Edit Profile Section -->

{% endblock %}
