{% extends 'templates/common/base.html' %}
{% load static %}

{% block content %}


    <!-- 404 page -->
    <div class="not-found-img">
        <img src="{% static 'images/404.jpg' %}" alt="404 not found">
    </div>

    <div class="not-found">
        <h1>
            Uh oh,<br> something broke.
        </h1>

        <h3>Error 404 - page not found.</h3>
        <!-- Link to Home Page -->
        <a href="{% url 'home page' %}">
            <button>Return to ConnextoSocial</button>
        </a>
    </div>
    <!-- End 404 page -->
{% endblock %}
