{% load static %}

<div class="card">
	<div class="top">
		<!-- User Details and image location -->
		<div class="userDetails">
			{% if photo.user and photo.user.pk %}
				<a href="{% url 'profile-details' photo.user.pk %}">
				</a>
			{% else %}
				<p>User not available</p>
			{% endif %}
			<div class="profilepic">
				<div class="profile_img">
					{% if photo.user.profile.profile_picture %}
						<div class="image">
							<img src="{{ photo.user.profile.profile_picture }}" alt="img8">
						</div>
					{% else %}
						<div class="image">
							<img src="{% static 'images/person.png' %}" alt="img8">
						</div>
					{% endif %}
				</div>
			</div>

			<h3>
				{% if photo.user and photo.user.pk %}
					<a href="{% url 'profile-details' photo.user.pk %}">
					</a>
				{% else %}
					<p>User not available</p>
				{% endif %}
				<!-- if user has first name and last name -->
				<span class="interactive">{{ photo.user.profile.get_full_name }}</span>
				<!-- else -->
				<!-- user username -->

				<br>
				<!-- if the photo has location -->
				{% if photo.location %}
					<a href="https://www.google.com/maps?q={{ photo.location }}" class="interactive" target="_blank">
						{{ photo.location }}
					</a>
				{% endif %}

				{% if photo_page and request.user.pk == photo.user.pk %}
					<div class="edit-delete-btns">

						<!-- Link to Edit Car Photo Page -->
						<a href="{% url 'photo-edit' photo.pk %}">
							<img class="edit-img" src="{% static '/images/edit-icon.png' %}"
								 alt="edit button">
						</a>

						<!-- Link to Delete Car Photo Page -->
						<a href="{% url 'photo-delete' photo.pk %}">
							<img class="bin-img" src="{% static '/images/icon-remove.png' %}"
								 alt="bin button">
						</a>
					</div>
				{% endif %}
			</h3>
		</div>
		<!--  -->
	</div>
	<!-- Post image -->
	<div class="imgBx" id="{{ photo.pk }}">
		<img src="{{ photo.car_photo.url }}" alt="post" class="cover">
	</div>
	<!-- -->


	<div class="bottom">
		<!-- Like and Share Buttons -->
		<div class="actionBtns">
			<div class="left">
				<!-- Like Button Form -->
				<form method="POST" action="{% url 'like' photo.pk %}">
					{% csrf_token %}
					<button type="submit" class="heart-btn {% if photo.has_liked %}liked{% endif %}">
						<span class="heart-icon">&hearts;</span>
						<span class="like-text">{% if photo.has_liked %} {{ photo.like_set.count }} likes{% else %}
							Like{% endif %}</span>
					</button>
				</form>

				<!-- Share Button -->
				{% if photo.id %}
					<button class="share-btn">
						<img src="{% static 'images/share-icon.png' %}" alt="Share" class="share-icon">
						Share
					</button>
				{% else %}
					<p>Share option unavailable</p>
				{% endif %}
			</div>
		</div>
	</div>





	{% for car in photo.tagged_cars.all %}
		<!-- Link to First Tagged Car Details Page-->
		<a href="{% url 'car-details' photo.user.profile.get_full_name car.slug %}">
			<p class="message">
				<b>{{ car.name }}</b>
			</p>
		</a>
	{% endfor %}

	{% if photo_page %}
		<!-- Photo description -->
		<p class="car-details">{{ photo.description }}</p>
	{% else %}
		<h3 class="postTime">{{ photo.date_of_publication }}</h3>
		<a href="{% url 'photo-details' photo.pk %}" class="see-details-btn">
			<h4 class="details">See details</h4>
		</a>
	{% endif %}



	{% if photo_page %}
		{% for comment in comments %}
			<div class="comments">
				<div class="top">
					<div class="userDetails">
						<div class="comment-data">
							<div class="profilepic">
								<div class="profile_img">
									<div class="image">
										<!-- User Profile Image -->
										{% if comment.user.profile.profile_picture %}
											<img src="{{ comment.user.profile.profile_picture }}"
												 alt="img8">
										{% else %}
											<img src="{% static 'images/person.png' %}" alt="img8">
										{% endif %}
									</div>
								</div>
							</div>
							<p>
								<!-- Link to User Profile Details Page-->
								<!-- User First and/or Last Name or username-->
								<a href="{% url 'profile-details' comment.user.pk %}">{{ comment.user.profile.get_full_name }}</a>
								<!-- User Comment -->
								{{ comment.text }}
							</p>
						</div>
						<span>{{ comment.date_time_of_publication }}</span>
					</div>
				</div>
			</div>
			<!-- End Comments Section -->
		{% endfor %}

	{% endif %}

	<!-- add comments section -->
	<div class="addComments">

		{% if photo.pk %}
			<form method="post" action="{% url 'comment' photo.pk %}">
				{% csrf_token %}
				{{ comment_form.as_p }}
				<button type="submit">Post</button>
			</form>
		{% else %}
			<p>Unable to add comments for this photo.</p>
		{% endif %}
	</div>
</div>