{% load static %}

<div class="card">
    <div class="top">
        <!-- User Details and image location -->
        <div class="userDetails">
            {% if photo.user and photo.user.pk %}
                <a href="{% url 'profile-details' photo.user.pk %}">
                    <div class="profilepic">
                        <div class="profile_img">
                            <div class="image">
                                {% if photo.user.profile and photo.user.profile.profile_picture %}
                                    <img src="{{ photo.user.profile.profile_picture.url }}" alt="Profile Picture">
                                {% else %}
                                    <img src="{% static 'images/person.png' %}" alt="Default Profile Picture">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            {% else %}
                <p>User not available</p>
            {% endif %}

            <h3>
                {% if photo.user and photo.user.pk %}
                    <a href="{% url 'profile-details' photo.user.pk %}">
                    </a>
                {% else %}
                    <p>User not available</p>
                {% endif %}
                <span class="interactive">{{ photo.user.profile.get_full_name }}</span>
                <br>
                {% if photo.location %}
                    <a href="https://www.google.com/maps?q={{ photo.location }}" class="interactive" target="_blank">
                        {{ photo.location }}
                    </a>
                {% endif %}

                {% if photo_page and request.user.pk == photo.user.pk %}
                    <div class="edit-delete-btns">
                        <!-- Link to Edit Car Photo Page -->
                        <a href="{% url 'photo-edit' photo.pk %}">
                            <img class="edit-img" src="{% static '/images/edit-icon.png' %}" alt="edit button">
                        </a>

                        <!-- Link to Delete Car Photo Page -->
                        <a href="{% url 'photo-delete' photo.pk %}">
                            <img class="bin-img" src="{% static '/images/icon-remove.png' %}" alt="bin button">
                        </a>
                    </div>
                {% endif %}
            </h3>
        </div>
    </div>

    <!-- Post image -->
    <div class="imgBx" id="{{ photo.pk }}">
        <img src="{{ photo.car_photo.url }}" alt="post" class="cover">
    </div>

    <div class="bottom">
        <!-- Like and Share Buttons -->
        <div class="actionBtns">
            <div class="left">
                <!-- Like Button Form -->
                <form method="POST" action="{% url 'like' photo.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="heart-btn {% if photo.has_liked %}liked{% endif %}">
                        <span class="heart-icon">&hearts;</span>
                        <span class="like-text">{% if photo.has_liked %} {{ photo.like_set.count }} likes{% else %}
                            Like{% endif %}</span>
                    </button>
                </form>

				<!-- Share Button -->
				<form method="POST" action="{% url 'photo-share' photo.pk %}">
					{% csrf_token %}
					<button type="submit" class="share-btn">
						<img src="{% static 'images/share-icon.png' %}" alt="Share" class="share-icon">
						Share
					</button>
				</form>
			
            </div>
        </div>
    </div>

    {% for car in photo.tagged_cars.all %}
        <!-- Link to First Tagged Car Details Page -->
        <a href="{% url 'car-details' photo.user.profile.get_full_name car.slug %}">
            <p class="message">
                <b>{{ car.name }}</b>
            </p>
        </a>
    {% endfor %}

    {% if photo_page %}
        <!-- Photo description -->
        <p class="car-details">{{ photo.description }}</p>
    {% else %}
        <h3 class="postTime">{{ photo.date_of_publication }}</h3>
        <a href="{% url 'photo-details' photo.pk %}" class="see-details-btn">
            <h4 class="details">See details</h4>
        </a>
    {% endif %}

    {% if photo_page %}
        {% for comment in comments %}
            <div class="comments">
                <div class="top">
                    <div class="userDetails">
                        <div class="comment-data">
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        {% if comment.user.profile and comment.user.profile.profile_picture %}
                                            <img src="{{ comment.user.profile.profile_picture.url }}"
                                                 alt="User Profile Picture">
                                        {% else %}
                                            <img src="{% static 'images/person.png' %}" alt="Default Profile Picture">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <p>
                                <a href="{% url 'profile-details' comment.user.pk %}">{{ comment.user.profile.get_full_name }}</a>
                                {{ comment.text }}
                            </p>
                        </div>
                        <span>{{ comment.date_time_of_publication }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Add Comments Section -->
    <div class="addComments">
        {% if photo.pk %}
            <form method="post" action="{% url 'comment_on_car_photo' photo.pk %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Post</button>
            </form>
        {% else %}
            <p>Unable to add comments for this photo.</p>
        {% endif %}
    </div>
</div>
