{% extends 'templates/common/base.html' %}
{% load url_query_append %}
{% load static %}

{% block content %}
    <!-- Start Container with New Background Color -->
    <div class="home-container">
        <div class="col-9 posts-container">  <!-- Add custom class 'posts-container' -->
        
            <!-- Start Searchbar Form with Interaction -->
            <form class="searchbar" action="" method="get">
                {{ search_form }}
                <button type="submit" class="search-btn">
                    <img src="{% static '/images/search-icon.png' %}" height="20" alt="search-icon">
                </button>
            </form>
            <!-- End Searchbar Form -->
            
            <!-- Loop through the car posts -->
            <div class="car-posts">
                {% for photo in page_obj %}
                    {% include 'templates/common/car-posts.html' %}
                {% empty %}
                    <p>No posts found.</p>
                {% endfor %}
            </div>
            <!-- End Car Posts Loop -->
            
            <!-- Start Pagination with Interactive Buttons -->
            <div class="pagination">
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                <span class="step-links-buttons">
                    {% if page_obj.has_previous and page_obj.has_next %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}" class="pagination-link">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}" class="pagination-link">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    {% elif page_obj.has_previous %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.previous_page_number %}" class="pagination-link">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    {% elif page_obj.has_next %}
                        <a href="?{% url_query_append_tag request 'page' page_obj.next_page_number %}" class="pagination-link">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </span>
            </div>
            <!-- End Pagination -->
        
        </div>
    </div>
    <!-- End Container -->

{% endblock %}
