{% load static %}
<nav class="navbar-wrapper">
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <!-- Link to Home Page -->
                <a href="{% url 'home page' %}">
                    <img width="50px" src="{% static 'images/sport-car-logo-icon.png' %}" alt="Car Logo">
                </a>
                <!-- Link to Home Page -->
                <a class="home" href="{% url 'home page' %}">
                    <i>ConnextoSocial</i>
                </a>
            </div>
            <div class="nav-links">
                <ul class="nav-group">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item"> <!-- Link to Login Page -->
                            <a href="{% url 'login' %}">
                                <i>Login</i>
                            </a>
                        </li>
                        <li class="nav-item"> <!-- Link to Register Page -->
                            <a href="{% url 'register' %}">
                                <i>Register</i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item"> <!-- Link to Profile Page -->
                            <a href="{% url 'profile-details' request.user.pk %}">
                                <i>Profile</i>
                            </a>
                        </li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="logout-button" type="submit"><i>Logout</i></button>
                        </form>
                    {% endif %}
                    
                    <!-- Link to Add Car Page -->
                    <li class="nav-item">
                        <a href="{% url 'add-car' %}">
                            <i>Add Car</i>
                        </a>
                    </li>

                    <!-- Link to Add Photo Page -->
                    <li class="nav-item">
                        <a href="{% url 'photo-add' %}">
                            <i>Add Photo</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
